#footer {
  padding: 40px 0;
  line-height: 1.6em;
  text-align: center;
  color: #999;
}
#footer a {
  color: inherit;
  border-bottom: 1px dashed #e3e3e3;
  text-decoration: none;
}
#footer a:hover {
  color: #005deb;
}
