@import "nib"
@import "_variables"

#faq-inner
  clearfix()
  padding-bottom: 30px
  margin: 0 gutter-width * -1

.faq-column
  @media mq-normal
    float: left
    width: 50%

.faq-item
  padding: gutter-width

.faq-title
  font-size: 1.2em
  font-weight: bold
  line-height: 1.3

.faq-answer
  line-height: line-height
  padding-top: 1em