@import "nib"
@import "_variables"

#footer
  padding: 40px 0
  line-height: line-height
  text-align: center
  color: color-gray
  a
    color: inherit
    border-bottom: 1px dashed color-border
    text-decoration: none
    &:hover
      color: color-link-hover