@import "nib"
@import "_variables"

#header
  clearfix()
  background: rgba(#fff, 0.9)
  position: fixed
  top: 0
  width: 100%
  z-index: 1

#header-nav
  float: right
  display: none
  position: relative
  @media mq-normal
    display: block

.header-nav-item
  float: left
  line-height: 1
  padding: 0 15px

.header-nav-link
  text-decoration: none
  font-weight: bold
  color: color-default
  display: block
  padding: 20px 0
  transition: 0.2s
  &:hover, &.on
    color: color-link

#header-signup-btn
  padding: 8px 20px
  border-radius: 20px
  color: color-ocean
  text-decoration: none
  font-weight: bold
  margin: 10px gutter-width
  display: block
  border: 2px solid color-ocean
  transition: 0.2s
  float: right
  line-height: 1
  &:hover
    background: color-ocean
    color: #fff

#header-nav-indicator
  position: absolute
  background: color-ocean
  bottom: 8px
  left: 0
  width: 0
  height: 2px
  transition: 0.3s