@import "nib"
@import "_variables"

judge-size = 300px

#judge-list
  display: flex
  flex-flow: row wrap
  justify-content: space-around

.judge-item-wrap
  text-align: center
  width: judge-size

.judge-item
  padding: 30px

.judge-photo
  display: block
  border-radius: 50%
  width: 100%
  height: auto
  overflow: hidden

.judge-name
  font-weight: bold
  display: block
  font-size: 1.2em
  margin-top: 1em

.judge-title
  display: block
  font-size: 0.9em
  margin-top: 0.5em