#intro
  background: color-background-intro

#intro-title
  font-family: font-title
  font-size: 2.5em
  line-height: 1
  padding: 1em 0
  text-align: center
  font-weight: bold
  span
    opacity: 0.5
    font-weight: 300
    padding: 0 5px

#intro-content
  line-height: line-height
  max-width: 600px
  p
    padding-bottom: line-height

.intro-theme-wrap
  text-align: center

.intro-theme
  display: inline-block
  width: 80px
  height: 80px
  font-size: 35px
  line-height: @height - 2px
  margin: 0 25px 25px
  border: 1px dashed rgba(255, 255, 255, 0.6)
  border-radius: 50%