#intro
  background: color-background-intro

#intro-title
  font-family: font-title
  font-size: 2.5em
  line-height: 1
  padding: 1em 0
  text-align: center
  font-weight: bold
  span
    opacity: 0.5
    font-weight: 300
    padding: 0 5px

#intro-content
  line-height: line-height
  max-width: 600px
  p
    padding-bottom: line-height