#schedule
  background: color-background-schedule

.schedule-list-wrap
  padding-bottom: 30px
  @media mq-normal
    float: left
    width: 50%
    padding: 0 15px 30px

.schedule-list-title
  font-weight: bold
  background: darken(color-background-schedule, 15%)
  padding: 15px 20px
  line-height: 1
  display: block
  position: relative

.schedule-list
  padding-top: 15px
  line-height: line-height
  td
    padding: 8px 20px
    &:first-child
      font-weight: bold
      padding-right: 0