// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #fff
color-gray = #999
color-border = #e3e3e3
color-background = #353535
color-link = #0e83cd
color-link-hover = lighten(color-link, 10%)

color-background-intro = hsl(184, 20%, 30%)
color-background-schedule = hsl(228, 20%, 30%)
color-background-location = hsl(305, 20%, 30%)
color-background-sponsors = hsl(80, 35%, 30%)

// Typography
font-chinese = "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體"
font-sans = "Helvetica Neue", Helvetica, Arial, font-chinese, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-title = "Open Sans Condensed", font-sans
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1000px
gutter-width = 12px
map-height = 300px

// Media queries
mq-mobile = "(max-width: 768px)"
mq-normal = "(min-width: 769px)"