layout: index
---
p Hackathon 是 Hack 和 Marathon 組合起來的字，也就是一群人聚在一起，長時間絞盡腦汁做出最好成品的活動。淡江提供了無限量食物及 30 小時的 Coding 時間，不限程式語言，歡迎你來奪得高額獎金！

.intro-theme-wrap
  .intro-theme
    i.fa.fa-graduation-cap
  .intro-theme
    i.fa.fa-gamepad

p 本屆黑客松有兩個主題：對大學學生或是學校有幫助的應用程式、或是獨特創新的遊戲，你可選擇其中一種主題，呼朋引伴組成 2~4 人的團隊一同徹夜打造心目中最棒的作品。